@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
.transition-transform {
  transition-property: transform;
}

.ease-\[cubic-bezier\(0\.87\,\ 0\,\ 0\.13\,\ 1\)\] {
  transition-timing-function: cubic-bezier(0.87, 0, 0.13, 1);
}

.transition-all {
  transition-property: all;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Page transition animation */
@keyframes slideIn {
  0% {
    transform: scaleX(0);
    transform-origin: right;
  }
  100% {
    transform: scaleX(1);
    transform-origin: right;
  }
}

.page-transition-enter {
  animation: slideIn 0.8s cubic-bezier(0.87, 0, 0.13, 1) forwards;
}

/* For the link in the message */
.whitespace-pre-wrap a {
  display: inline;
}

.sticky-sidebar {
  position: sticky;
  top: 0; 
  height: 100vh;
  overflow-y: auto;
}
